.popup {
	position: fixed;
	top: 40%;
	left: 50%;
	width: 35vw;	
	height: 20rem;
	transform: translate(-50%, -50%) scale(0);
	transition: all 0.5s ease-in-out;
	z-index: -100;
	visibility: hidden;
	opacity: 0;
	background-color: transparent;	

	@include xxl {
		width: 60%;
	}

	@include md {
		width: 80%;
		height: 25rem;
	}

	@include sm {
		width: 80%;
		height: 20rem;
	}

	@include xs {
		width: 90%;
		height: 20rem;
	}

	&.popup--show {
		z-index: 100;
		visibility: visible;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	.popup-picture {
		min-height: 100%;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		&.start-picture {
			height: 100%;
			background-image: url('../../images/snakke.jpeg');
			background-position: center 25%;
			border-radius: rem(10);
		}

		&.lost-picture {
			height: 100%;
			background-image: url('../../images/gameover.png');
			border-radius: rem(10);
		}

		&.level-picture {
			height: 100%;
			background-image: url('../../images/snake-field.jpg');
			border-radius: rem(10);
		}

		&.win-picture {
			height: 100%;
			background-image: url('../../images/victory.jpg');
			border-radius: rem(10);
		}

		box-shadow: 0 0 15px 1px #69c0fa;

		ul.level-menu {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: 100%;

			li {
				color: white;
				font-weight: bolder;
				font-size: 1.5rem;
				text-transform: uppercase;
				border: 1px solid transparent;
				background-color: transparent;
				transform: scale(1);
				transition: all 0.5s ease-in-out;

				&:hover:not(.selected) {
					color: rgb(0, 0, 128);
					cursor: pointer;
					transform: scale(1.1);
				}

				&.selected {
					padding: 0.5rem 1rem;
					border-radius: 10px;
					background-color: rgb(0, 0, 128);
					box-shadow: 0 0 15px 1px #0099fd;
					color: white;
					transform: scale(1.2);
				}
			}

		}

		.popup-center {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 1rem;

			&.ml3 {
				margin-right: 3rem;
			}

			.score-count,
			.level-count {
				color: rgb(0, 0, 128);
				font-size: 3rem;
			}

			.score-icon {
				width: rem(50);
				height: rem(50);
				background-image: url('../../images/fruits.png');
				background-position: center center;
				/* x y */
				background-size: cover;
				background-repeat: no-repeat;
				;
			}

			.level-icon {
				width: rem(50);
				height: rem(50);
				background-image: url('../../images/cup.png');
				background-position: center center;
				/* x y */
				background-size: cover;
				background-repeat: no-repeat;
				;
			}
		}
	}

	.popup-message {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -125%);
		background-color: rgb(0, 0, 128);
		padding: 0.5rem;
		border-radius: rem(10);
		box-shadow: 0 0 15px 1px #69c0fa;		
		display: none;		

		h3 {
			text-align: center;
			font-size: 1.5rem;
			color: white;
		}
	}

	.popup-buttons {
		padding: 1rem 0 0 0;
		display: flex;
		flex-direction: row;
		gap: 1rem;

		.popupBtn {
			text-align: center;
			width: 50%;
			padding: 0.5rem;
			background-color: rgb(0, 0, 128);
			border-radius: 10px;
			color: white;
			font-size: 1.5rem;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;
			box-shadow: 0 0 5px 1px #0099fd;

			&:hover {
				box-shadow: 0 0 25px 1px #69c0fa;
				background-color: rgb(0, 0, 128, 0.5);
			}

			@include md {
				font-size: 1.2rem;
			}
		}
	}


}